/*FUENTES*/
@font-face {
  font-family: montserrat ;
  src: url(fonts/montserrat-light.ttf);
}


body {
  margin:0px;
  background:#846AA5;
  background-image: linear-gradient(to right, #846AA5,#3E2956);
  font-family: montserrat;
  color:#4A3167;
}

html {
  margin:0px;
  scroll-behavior:auto;
 
}

.bodyNormalSmooth {
  scroll-behavior: auto;
}

h1 {
  font-family: montserrat;
  text-align:center;
  font-size:xx-large;
  margin:40px;
  color: #a511f5;
  
}
h2 {
  font-family: montserrat;
  text-align:center;
  color:#3E2956;
}

p {
  font-size:14px;
}

a:link {
  text-decoration: none;
  color:unset;
}

a:visited {
  color:unset;
}

.AdminPanel{
  color:black;
}
/*APP GLOBAL*/
.ContainerGlobal {
  max-width:1250px;
  margin:auto;
  display:flex;
  flex-direction: column;
  border:solid 3px;
  
 
}

.Separador {
  height:100px;
  background:whitesmoke;
  border-bottom: solid 1px #9c53fb;
  
  
}
/* INSTALACIONES */
.InstalacionesTituloDesc {
  max-width:1400px;
  margin:auto;
  background:white;
}

.InstalacionesDescripcionTexto {
  margin:auto;
  max-width:1100px;
  text-align:center;
}

.InstalacionesContainer{
  display:flex;
  flex-direction: row;
  max-width:1400px;
  max-height:auto;
  margin:auto;
  flex-wrap: wrap;
  background:white;
  justify-content: space-around;
  
}


.InstalacionesElemento {
 
  display:flex;
  flex-direction: column;
  height:auto;
  background:white;
}

.InstalacionesFotosFlex {
  display:flex;
  column-gap: 10px;
  row-gap:10px;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}
img.FotoElementoInst {
  width:300px;
}

div.ElementoTexto {
  max-width:400px;
  margin:auto;
  text-align:center;
}


/*FORMACIÓN*/

.Formacion {
  max-width:1400px;
  margin:auto;
  display:flex;
  flex-direction: column;
  text-align: center;
  background:#1B1426;
  color:white;
  }

.Servicios {
  max-width:1400px;
  margin:auto;
  display:flex;
  flex-direction: column;
  text-align: center;
  background:white;
}

.FormacionDescripcionTexto {
  max-width:1100px;
  margin:auto;
}

.h2Formacion {
  color:white;
}

.FormacionContainer{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content:space-evenly;
  background:#1B1426;
  
  
}

.ServiciosContainer{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content:space-evenly;
  background:white;
  
  
}

.FormacionElemento{
  display:flex;
  flex-direction: column;
  max-width:200px;
  
 
}

.FormacionElementoTexto{
  margin:0px;
  
}

img.FotoElemento {
  width:100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*NavBar*/
.NavBar {
  position:relative;
  height:100%;
  top:20px;
  left:0;
  right:0;
  margin:0 auto;
  
}
.NavBarContainer {
  max-width:1250px;
  display:flex;
  top:0px;
  position:fixed;
  left:0;
  right:0;
  margin:0 auto;
  background:white;
  max-height:67px;
  background:#1B1426;
  background-image: linear-gradient(to right, #1B1426,#3E2956);
  z-index: 1;
}


.NavBarLinksContainer {
  display:flex;
  column-gap: 35px;
  margin-left:auto;
  margin-right:55px;
  font-size:17px;
  align-items: center;
  font-family: montserrat;
  
  color:white;
}



.NavBarLinkElemento {
  margin-top:0px;
  display:flex;
  flex-direction: column;
  
  
}

.BarraLinkElemento {
  width:0;
  height:5px;
  transition:all 0.2s;
  background:orange;
  border-radius: 50px;
}

.BarraLinkElementoScroll {
  width:0%;
  height:5px;
  transition:all 0.2s;
  background:blue;
  border-radius: 50px;
}

.NavBarSocialMedia {
  display:flex;
  column-gap:10px;
  margin-right:10px;
  color:white;
  align-items: center;
}

.NavBarTelefonos {
  width:100%;
}
.TelefonosSeparador {
  width:100%;
  height:2px;
  background-color:orange;
}

.MenuMoviles {
  display:none;
  color:white;
  margin-left:auto;
  cursor:pointer;
  
}

.MenuMoviles:hover {
  
}
.DesplegableLinksMoviles {
  position:fixed;
  color:white;
  background:black;
  max-width:1250px;
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  top:70px;
  position:fixed;
  left:0;
  right:0;
  margin:0 auto;
  background:white;
  background:black;
  z-index: 1;
}
@media only screen and (max-width:1000px) {
  .NavBarLinksContainer {
   display:none;
  }
  .NavBarSocialMedia {
    margin-left:auto;
  } 
  .MenuMoviles {
    display:block;
  }
 
 }

/*Portada*/

.Div1Portada {
  
  width:100%;
  min-height:600px;
  max-height: 840px;
  
  
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.Div2Portada {
  max-width:1250px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 75px;
  row-gap: 20px;
}

.PortadaIzquierda {
  color:white;
  margin:auto;
  transition:all 0.1s;
  display:flex;
  flex-direction: column;
  
  
  
}

.PortadaIzquierdaBotones {
  display:flex;
  justify-content:space-evenly;
}

.PortadaDerecha {
  
}

.FotoLogoPortada {
  display:block;
  transform:scale(1);
  z-index: 0;
  transition:transform 0.1s;
  
}

.BotonLlamativo {
  max-width:300px ;
  min-width: 230px;
  background:rgb(221, 143, 0);
  background-image: linear-gradient(to right, orange);
  padding:20px;
  font-size: 20px;
  border-radius: 30px;
  border:solid 2px white;
  color:white;
  text-align: center;
}

@media only screen and (max-width:650px) {
  .BotonLlamativo {
   min-width:140px;
   font-size: 20px;
  }
  .PortadaImagenLogo {
    width:480px;
    margin-top:50px;
  }
  .FotoLogoPortada{
    width:400px;
  }
}

@media only screen and (max-width:450px) {
  .BotonLlamativo {
   min-width:80px;
   font-size: 13px;
  }
  .PortadaImagenLogo {
    width:330px;
    margin-top:50px;
    margin-left:0px;
  }
  .FotoLogoPortada{
    width:330px;
  }
}

/*Contacto*/
.Contacto {
  background:white;
  display:flex;
  flex-direction: column;
}
.Mapa {
  max-width: 1240px;
}

input {
  padding:15px;
  width:40%;
}

.Mensaje {
  width:80%;
  height:120px;
  padding:10px;
  font-family: Tahoma;
}

.Formulario {
  display:flex;
  flex-direction: column;
  row-gap: 15px;
  max-width:1200px;
  margin:auto;
  
}

.BotonEnviarMensaje {
  background:blue;
  color:white;
}

/*Noticias*/

.Noticias {
  max-width:1400px;
  background: white;
  
  
}

.NoticiasContainer {
  display:flex;
  flex-wrap: wrap;
  max-width:1300px;
  margin:auto;
  justify-content: space-around;
  background:white;
  row-gap: 20px;

}

.NoticiasElemento {
  display:flex;
  text-align:center;
  flex-direction:column;
  min-width: 300px;
  max-width:300px;
  background:white;
  color:black;
  white-space: pre-wrap;
}

.NoticiaImagen {
  width:200px;
  height:200px;
  display:block;
  margin:auto;
}

.NoticiaLinkExtra {
  color:blue;
} 

.FBContainer {
  max-width:500px;
  margin:auto;
}
.fb-page {
  max-width: 500px;
  margin:auto;
}
/*LOGOSFINAL*/
.LogosFinal {
  max-width:1250px;
  
  background:whitesmoke
}

.LogoFinalImagen {
  width:300px;
  height:100px;
}

/*QUIENES SOMOS*/
.QuienesSomosContainer {
  background:white;
}

.QuienesSomosFlexContainer {
  display:flex;
  margin: auto;
  column-gap: 20px;
  max-width: 1100px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.QuienesSomosTexto {
  white-space:pre-wrap;
  
  max-width:500px;
  
}

.QuienesSomosVideo {
  width: 560px;
  height: 315px;
}

.QuienesSomosVideoVid {
  width: 560px;
  height: 315px;
}

@media only screen and (max-width:650px) {
  .QuienesSomosVideo {
   width:450px;
  }
  .QuienesSomosVideoVid{
    width:450px;
  }
}

@media only screen and (max-width:450px) {
  .QuienesSomosVideo {
   width:330px;
  }
  .QuienesSomosVideoVid{
    width:330px;
  }
}



/*NUESTRO EQUIPO*/
.NuestroEquipoContainer {
  background:white;
  
}

.PersonasEquipoContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.PersonaEquipoContainer {
  background:#846AA5;
  display:flex;
  max-width: 900px;
  color:white;
  border: 1px solid black;
 
  
}

.TextoPersonaEquipo {
  margin-left:30px;
  margin-right:10px;
  white-space: pre-wrap;
}
.ImagenPersonaEquipo {
  width:320px;
  height:275px;
}

.ImagenPersonaEquipoImg {
  width:320px;
  height:275px;
}

@media only screen and (max-width:450px) {
  .PersonasEquipoContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }

  .PersonaEquipoContainer {
    background:#846AA5;
    display:flex;
    flex-wrap: wrap;
    max-width: 900px;
    color:white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
   }

   .ImagenPersonaEquipo {
    width:250px;
    height:200px;
  }
  
  .ImagenPersonaEquipoImg {
    width:250px;
    height:200px;
  }

  .TextoPersonaEquipo {
    margin-left:30px;
    margin-right:10px;
    white-space: pre-wrap;
    
  }
}

/*ACTIVIDADES*/

.ActividadesContainer {
  background:white;
}

.ActividadesElementosContainer {
  display:flex;
  max-width:1200px;
  margin:auto;
  column-gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;

}

.ActividadElemento {
  display:flex;
  flex-direction: column;
  max-width:255px;
  text-align:center;
  background: whitesmoke;
}

.ImagenActividad {
  width: 250px;
  height: 200px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.ImagenActividadImg {
  width:250px;
  height:200px;
}

/*FOOTER */

.Footer {
  display:flex;
  height:200px;
  max-width:1250px;
  margin:auto;
  background:black;
}

.FooterContenido {
  color:white;
  margin:auto;
  
}







/* ADMIN PANEL */

.AdminPanel {
  background-color:whitesmoke;
}

.NoticiasFormAdmin {
  background-color: orangered;
  color:white;
}

.ContactFormAdmin {
  background-color: orangered;
  color:white;
}

.h1Admin {
  text-align: left;
  color:black;
}